<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2022 ByteBencher. All rights reserved.
  ~ See LICENCE file for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="ByteBencherCloudflareModuleState" type="ByteBencher\Cloudflare\Config\ModuleState" />

    <!-- Config -->
    <virtualType name="ByteBencherCloudflareConfig" type="ByteBencher\Cloudflare\Config\Config" />
    <virtualType name="ByteBencherCloudflareCacheConfig" type="ByteBencher\Cloudflare\Config\CacheConfig"/>

    <!-- FrontController Plugin -->
    <type name="ByteBencher\Cloudflare\Plugin\App\FrontController\CloudflarePlugin">
        <arguments>
            <argument name="config" xsi:type="object">ByteBencherCloudflareCacheConfig</argument>
        </arguments>
    </type>

    <!-- Controller/Result Plugin -->
    <type name="ByteBencher\Cloudflare\Plugin\Controller\Result\CloudflarePlugin">
        <arguments>
            <argument name="config" xsi:type="object">ByteBencherCloudflareCacheConfig</argument>
        </arguments>
    </type>

    <!-- Layout Plugin -->
    <type name="ByteBencher\Cloudflare\Plugin\Layout\LayoutPlugin">
        <arguments>
            <argument name="config" xsi:type="object">ByteBencherCloudflareCacheConfig</argument>
        </arguments>
    </type>

    <!-- Logger -->
    <virtualType name="ByteBencherCloudflareCacheMainLogger" type="SR\Gateway\Model\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">ByteBencherCloudflareCacheBaseLogger</argument>
            <argument name="config" xsi:type="object">ByteBencherCloudflareCacheConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="ByteBencherCloudflareCacheBaseLogger" type="SR\Gateway\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">bytebencher_cloudflare_cache</argument>
            <argument name="handlers" xsi:type="array">
                <item name="file" xsi:type="object">ByteBencherCloudflareCacheLoggerFileHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="ByteBencherCloudflareCacheLoggerFileHandler" type="ByteBencher\Cloudflare\Model\Logger\Handler\CacheFileHandler">
        <arguments>
            <argument name="config" xsi:type="object">ByteBencherCloudflareCacheConfig</argument>
            <argument name="fileName" xsi:type="string">var/log/bytebencher_cloudflare_cache.log</argument>
        </arguments>
    </virtualType>

    <!-- REST client -->
    <virtualType name="ByteBencherCloudflareCacheRestClient" type="SR\Gateway\Model\Http\Client\Rest">
        <arguments>
            <argument name="logger" xsi:type="object">ByteBencherCloudflareCacheMainLogger</argument>
            <argument name="converter" xsi:type="object">SR\Gateway\Model\Http\Client\Converter\ObjectToArrayRestConverter</argument>
        </arguments>
    </virtualType>

    <!-- CloudflareClient -->
    <type name="ByteBencher\Cloudflare\Model\CloudflareClient">
        <arguments>
            <argument name="config" xsi:type="object">ByteBencherCloudflareCacheConfig</argument>
            <argument name="restClient" xsi:type="object">ByteBencherCloudflareCacheRestClient</argument>
            <argument name="logger" xsi:type="object">ByteBencherCloudflareCacheMainLogger</argument>
        </arguments>
    </type>

    <!-- Observer -->
    <type name="ByteBencher\Cloudflare\Observer\PurgeByTags">
        <arguments>
            <argument name="config" xsi:type="object">ByteBencherCloudflareCacheConfig</argument>
        </arguments>
    </type>

    <!-- FlushAllCacheObserver -->
    <type name="ByteBencher\Cloudflare\Observer\FlushAllCacheObserver">
        <arguments>
            <argument name="config" xsi:type="object">ByteBencherCloudflareCacheConfig</argument>
        </arguments>
    </type>

    <!-- Plugin -->
    <type name="ByteBencher\Cloudflare\Plugin\AddCacheTagHeader">
        <arguments>
            <argument name="config" xsi:type="object">ByteBencherCloudflareCacheConfig</argument>
        </arguments>
    </type>
</config>
