<?xml version="1.0"?>
<!--
  ~ Copyright © 2022 ByteBencher. All rights reserved.
  ~ See LICENCE file for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ByteBencher_Cloudflare">
        <sequence>
            <module name="Magento_PageCache"/>
            <module name="ByteBencher_Gateway"/>
        </sequence>
    </module>
</config>
