<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2022 ByteBencher. All rights reserved.
  ~ See LICENCE file for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ByteBencher_Cloudflare::bytebencher_cloudflare"
             parent="Magento_Backend::stores"
             module="ByteBencher_Cloudflare"
             title="Cloudflare"
             sortOrder="580"
             resource="ByteBencher_Cloudflare::bytebencher_cloudflare"/>

        <add id="ByteBencher_Cloudflare::bytebencher_cloudflare_settings"
             title="Settings"
             sortOrder="1000"
             module="ByteBencher_Cloudflare"
             parent="ByteBencher_Cloudflare::bytebencher_cloudflare"
             action="adminhtml/system_config/edit/section/bytebencher_cloudflare/"
             resource="ByteBencher_Cloudflare::bytebencher_cloudflare_settings"/>
    </menu>
</config>
