<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2022 ByteBencher. All rights reserved.
  ~ See LICENCE file for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bytebencher_cloudflare" frontName="bytebencher_cloudflare">
            <module name="ByteBencher_Cloudflare"/>
        </route>
    </router>
</config>
